* {
    font-family: 'Source Code Pro', monospace;
  }

  h1,
  h2 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
  }

  h1 {
      padding: 1em 0;
  }

  .home {
      padding-top:2em;
  }
  .home a {
      float: right;
  }